<template>
    <div class="wrapper d-flex flex-wrap justify-content-center">
        <div v-if="people.length" v-for="person in people"
                class="tw-border tw-border-gray-200 tw-shadow-md mx-2 mb-3 bg-white tw-rounded-lg tw-p-6">
            <img class="tw-h-16 tw-w-16 tw-rounded-full tw-mx-auto" src="" v-bind:src="person.avatar" alt="">
            <div class="tw-text-center">
                <h2 class="tw-text-lg">{{ person.name}}</h2>
                <div class="tw-text-blue-600">{{ person.job }}</div>
                <div class="tw-whitespace-no-wrap tw-text-xs tw-text-gray-600">{{ person.email }}</div>
                <div class="tw-text-sm tw-text-gray-600">{{ person.phone }}</div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters({
                people: 'makeList',
            })
        },
    }
</script>
